@charset "utf-8";
/* CSS Document */

.bg {
    background: url(images/logo_watermark.png) top center no-repeat;
    width:250px;
    height: 250px;
}

.bg.print {
    display: list-item;
    list-style-image: url(images/logo_watermark.png);
    list-style-position: inside;
}

