@charset "utf-8";
/* CSS Document */

@media print {

	header {
		display: none;
	}
	
	#titlePage {
		display: none;
	}
	
	.col-md-3 {
		display: none;
	}

	.noprint {
		display: none;
	}
	
	footer {
		display: none;
	}
}
